<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="umbracoConfiguration">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
      <section name="HealthChecks" type="Umbraco.Core.Configuration.HealthChecks.HealthChecksSection, Umbraco.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <umbracoConfiguration>
    <settings configSource="config\umbracoSettings.config" />
    <HealthChecks configSource="config\HealthChecks.config" />
  </umbracoConfiguration>
  <appSettings>
    <add key="Umbraco.Core.ConfigurationStatus" value="8.1.0" />
    <add key="Umbraco.Core.Path" value="~/umbraco" />
  </appSettings>
  <connectionStrings>
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="Server=localhost;Database=umbraco-console;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>